# ── MQTT Broker (externer Broker, z.B. Home Assistant) ──
MQTT_BROKER=192.168.1.136
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

# ── Zeitzone für Timeguard ──
TZ=Europe/Berlin

# ── Docker Stack Name ──
STACK_NAME=pumpe

# ── Image Tags ──
IMAGE_TAG=latest
